:root {
  --font-site: "IBM Plex Sans";
  --cor-1: #adb5bd;
  --background-1: #343a40;
  --color-2: #dee2e6;
  --background-2: #4c6ef5;
  --background-3: #343a40;
  --color-3: #ced4da;
  --color-4: #7c8b99;
  --espessura-textos: 500;
  --border-radius-site: 8px;
}
